{% extends "common_base.html" %}
{% block title %}{{title_name}}{% endblock %}
{% block content %}
    
             <!-- bradcam_area  -->
             <div class="bradcam_area bradcam_bg_1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="bradcam_text text-center">
                                    <h3>Контакты</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ bradcam_area  -->
  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
			<div class="d-none d-sm-block mb-5 pb-4">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2398.2084633811455!2d29.82819946295596!3d59.8800813987462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696413a90b387af%3A0x2ab0f671a7a98cec!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgtGB0LrQuNC5INC_0YAuLCAyOCwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5ODUwNA!5e0!3m2!1sru!2sru!4v1620910950028!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				<!--<div id="map" style="height: 480px;"></div>
				<script>
					function initMap() {
						var uluru = {lat: -25.363, lng: 131.044};
						var grayStyles = [
						{
							featureType: "all",
							stylers: [
							{ saturation: -90 },
							{ lightness: 50 }
							]
						},
						{elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
						];
						var map = new google.maps.Map(document.getElementById('map'), {
							center: {lat: -31.197, lng: 150.744},
							zoom: 9,
							styles: grayStyles,
							scrollwheel:  false
						});
					}
          
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChOXgon6fwyM9dtBa2tHTt5E-bx9gf-ks&callback=initMap"></script>
				-->
			</div>
        </div>
        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Санкт-Петербург</h3>
              <p>ул. писать страшно, д. 7</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+7 (921) 932 59 64</h3>
              <p>Пн-Пт с 9:00-18:00</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>m.pelogeiko@gmail.com</h3>
              <p>Пишите в любое время :)</p>
            </div>
          </div>
		  <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span> <!-- <i class="fab fa-vk"></i> -->
            <div class="media-body">
              <a href="https://vk.com/id196397490"><h3>https://vk.com/id196397490</h3></a>
              <p>тоже пишите в любое время :)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Put this div tag to the place, where the Comments block will be -->
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
</script>
  {% if vkuser is defined %}
  yes!!!!!!!!! vkuser is here
{% else %}
    <button id="vk-sign"
        type="submit"
        onclick="location.href='https://oauth.vk.com/authorize?client_id=7858920&display=page&redirect_uri=http://178.154.212.140/vk_login&scope=friends&response_type=code&v=5.130'">Sign in with VK</button>
{% endif %}
  <!-- ================ contact section end ================= -->
{% endblock %}